body{
    background-color: #a5f3ea4a;
}
section.products{
    text-align: center;
    border: 1px solid;
    margin: -5% 13% 12% 52%;
    background-color: #e9e9f3;
}
h3{
    text-align: center;
    top: 32%;
    position: absolute;
    left: 66%;
}
ul{
    margin-left: 7%;
    margin-top: 2%;
}
section.cate{
        font-size: 21px;
        cursor: pointer;
}
span {
    font-weight: bold;
}